@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

.card {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 9px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.2em;
  background-color: #141414;
  border-radius: 10px;
}

.card:hover{
  transform: scale(1.1); 
}

.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.card figcaption {
  width: 100%;
  background-color: #141414;
  padding: 18px;
  position: relative;
}
.card figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.card figcaption button {
  padding: 7px;
  border: 1px solid #ffffff;
  background-color: #141414;
  color: #ffffff;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.card figcaption button:hover {
  opacity: 1;
}
.card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  object-fit: cover;
  width: 90px;
  height:90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.card .contact {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.card h4 {
  margin: 0 0 5px;
  font-weight: 200;
  background-color: #141414;
}
.card span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.card p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
